.itemTodo{
  display: flex;
  
  width: 600px;
  min-height: 50px;
  height: auto;



  border-radius: 20px;
  cursor: pointer;

  border: 3px solid rgba(0, 0, 0, 0.3);
  background-color: #bfccc1;
}

.itemText{
  width: 500px;
  min-height: 50px;
  height: auto;

  word-break: break-all;

  align-items: center;
  font-size: 25px;

  border: 3px solid rgba(255, 0, 0, 1);

}


.itemImg{
  width: 30px;
  cursor: pointer;

  /* margin: auto;
  align-items: center;
  position: relative;
  left: 0px; */

}

.strike{
  text-decoration: line-through;
}